In [4]:
import pandas as pd
import numpy as np

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
import neattext.functions as nfx

In [7]:
df=pd.read_csv("emotions1.csv")

In [8]:
df.head()

,Unnamed: 0,Emotion,Text,Clean_Text
0,0,neutral,Why ?,NaN
1,1,joy,Sage Act upgrade on my to do list for tommorow.,Sage Act upgrade list tommorow
2,2,sadness,ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...,WAY HOMEGIRL BABY FUNERAL MAN HATE FUNERALS SH...
3,3,joy,Such an eye ! The true hazel eye-and so brill...,eye true hazel eyeand brilliant Regular feat...
4,4,joy,@Iluvmiasantos ugh babe.. hugggzzz for u .! b...,ugh babe hugggzzz u babe naamazed nga ako e...

In [9]:
df.shape

(20379, 4)

In [10]:
df.dtypes

Unnamed: 0     int64
Emotion       object
Text          object
Clean_Text    object
dtype: object

In [11]:
df.isnull().sum()

Unnamed: 0      0
Emotion         0
Text            0
Clean_Text    279
dtype: int64

In [12]:
pip install TextBlob

Requirement already satisfied: TextBlob in c:\users\saniya t sandeep\appdata\local\programs\python\python310\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\saniya t sandeep\appdata\local\programs\python\python310\lib\site-packages (from TextBlob) (3.8)
Requirement already satisfied: regex>=2021.8.3 in c:\users\saniya t sandeep\appdata\local\programs\python\python310\lib\site-packages (from nltk>=3.1->TextBlob) (2022.10.31)
Requirement already satisfied: joblib in c:\users\saniya t sandeep\appdata\local\programs\python\python310\lib\site-packages (from nltk>=3.1->TextBlob) (1.2.0)
Requirement already satisfied: tqdm in c:\users\saniya t sandeep\appdata\local\programs\python\python310\lib\site-packages (from nltk>=3.1->TextBlob) (4.64.1)
Requirement already satisfied: click in c:\users\saniya t sandeep\appdata\local\programs\python\python310\lib\site-packages (from nltk>=3.1->TextBlob) (8.1.3)
Requirement already satisfied: colorama in c:\users\saniya t sandeep\appdata\roaming\python\python310\site-packages (from click->nltk>=3.1->TextBlob) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
#sentiment analysis
from textblob import TextBlob

In [14]:
def get_sentiment(text):
    blob=TextBlob(text)
    sentiment=blob.sentiment.polarity
    if sentiment>0:
        result="Positive"
    elif sentiment<0:
        result="Negative"
    else:
        result="Neutral"
    return result

In [15]:

get_sentiment("i think about coding")

'Neutral'

In [16]:
df["Sentiment"]=df['Text'].apply(get_sentiment)

In [17]:
df.head()

,Unnamed: 0,Emotion,Text,Clean_Text,Sentiment
0,0,neutral,Why ?,NaN,Neutral
1,1,joy,Sage Act upgrade on my to do list for tommorow.,Sage Act upgrade list tommorow,Neutral
2,2,sadness,ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...,WAY HOMEGIRL BABY FUNERAL MAN HATE FUNERALS SH...,Negative
3,3,joy,Such an eye ! The true hazel eye-and so brill...,eye true hazel eyeand brilliant Regular feat...,Positive
4,4,joy,@Iluvmiasantos ugh babe.. hugggzzz for u .! b...,ugh babe hugggzzz u babe naamazed nga ako e...,Neutral

In [18]:
dir(nfx)

['BTC_ADDRESS_REGEX',
 'CURRENCY_REGEX',
 'CURRENCY_SYMB_REGEX',
 'Counter',
 'DATE_REGEX',
 'EMAIL_REGEX',
 'EMOJI_REGEX',
 'HASTAG_REGEX',
 'MASTERCard_REGEX',
 'MD5_SHA_REGEX',
 'MOST_COMMON_PUNCT_REGEX',
 'NUMBERS_REGEX',
 'PHONE_REGEX',
 'PoBOX_REGEX',
 'SPECIAL_CHARACTERS_REGEX',
 'STOPWORDS',
 'STOPWORDS_de',
 'STOPWORDS_en',
 'STOPWORDS_es',
 'STOPWORDS_fr',
 'STOPWORDS_ru',
 'STOPWORDS_yo',
 'STREET_ADDRESS_REGEX',
 'TextFrame',
 'URL_PATTERN',
 'USER_HANDLES_REGEX',
 'VISACard_REGEX',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__generate_text',
 '__loader__',
 '__name__',
 '__numbers_dict',
 '__package__',
 '__spec__',
 '_lex_richness_herdan',
 '_lex_richness_maas_ttr',
 'clean_text',
 'defaultdict',
 'digit2words',
 'extract_btc_address',
 'extract_currencies',
 'extract_currency_symbols',
 'extract_dates',
 'extract_emails',
 'extract_emojis',
 'extract_hashtags',
 'extract_html_tags',
 'extract_mastercard_addr',
 'extract_md5sha',
 'extract_numbers',
 'extract_pattern',
 'extract_phone_numbers',
 'extract_postoffice_box',
 'extract_shortwords',
 'extract_special_characters',
 'extract_stopwords',
 'extract_street_address',
 'extract_terms_in_bracket',
 'extract_urls',
 'extract_userhandles',
 'extract_visacard_addr',
 'fix_contractions',
 'generate_sentence',
 'hamming_distance',
 'inverse_df',
 'lexical_richness',
 'markov_chain',
 'math',
 'nlargest',
 'normalize',
 'num2words',
 'random',
 're',
 'read_txt',
 'remove_accents',
 'remove_bad_quotes',
 'remove_btc_address',
 'remove_currencies',
 'remove_currency_symbols',
 'remove_custom_pattern',
 'remove_custom_words',
 'remove_dates',
 'remove_emails',
 'remove_emojis',
 'remove_hashtags',
 'remove_html_tags',
 'remove_mastercard_addr',
 'remove_md5sha',
 'remove_multiple_spaces',
 'remove_non_ascii',
 'remove_numbers',
 'remove_phone_numbers',
 'remove_postoffice_box',
 'remove_puncts',
 'remove_punctuations',
 'remove_shortwords',
 'remove_special_characters',
 'remove_stopwords',
 'remove_street_address',
 'remove_terms_in_bracket',
 'remove_urls',
 'remove_userhandles',
 'remove_visacard_addr',
 'replace_bad_quotes',
 'replace_currencies',
 'replace_currency_symbols',
 'replace_dates',
 'replace_emails',
 'replace_emojis',
 'replace_numbers',
 'replace_phone_numbers',
 'replace_special_characters',
 'replace_term',
 'replace_urls',
 'string',
 'term_freq',
 'to_txt',
 'unicodedata',
 'word_freq',
 'word_length_freq']

In [21]:
df['Clean_Text']=df['Text'].apply(nfx.remove_stopwords)
df['Clean_Text']=df['Clean_Text'].apply(nfx.remove_userhandles)
df['Clean_Text']=df['Clean_Text'].apply(nfx.remove_punctuations)
df[['Text','Clean_Text']]

,Text,Clean_Text
0,Why ?,
1,Sage Act upgrade on my to do list for tommorow.,Sage Act upgrade list tommorow
2,ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...,WAY HOMEGIRL BABY FUNERAL MAN HATE FUNERALS SH...
3,Such an eye ! The true hazel eye-and so brill...,eye true hazel eyeand brilliant Regular feat...
4,@Iluvmiasantos ugh babe.. hugggzzz for u .! b...,ugh babe hugggzzz u babe naamazed nga ako e...
...,...,...
20374,Hello ?,Hello
20375,"Yes , Steven . You always know what I want .",Yes Steven know want
20376,@B_Driggs @marissa_turner greatttt. This means...,greatttt means Bobbys trashed self going c...
20377,While having a discussion with a colleague of ...,discussion colleague mine realized conception ...
20378,I reached the bus stop and realized that I had...,reached bus stop realized forgotten bus pass

In [29]:
#keyword extraction
from collections import Counter
def extract_keywords(text,num=50):
    tokens=[tok for tok in text.split()]
    most_common_tokens=Counter(tokens).most_common(num)
    return dict(most_common_tokens)

In [23]:
emotion_list=df['Emotion'].unique().tolist()

In [24]:
emotion_list

['neutral', 'joy', 'sadness', 'fear', 'surprise', 'anger', 'shame', 'disgust']

In [25]:
joy_list=df[df['Emotion']=='joy']['Clean_Text'].tolist()

In [26]:
joy_docx=''.join(joy_list)

In [ ]:
joy_docx

In [30]:
keyword_joy=extract_keywords(joy_docx)

In [31]:
keyword_joy

{'amp': 407,
 'day': 347,
 'time': 277,
 'Im': 267,
 'like': 247,
 'work': 229,
 'Christmas': 218,
 'good': 189,
 'happy': 187,
 'today': 183,
 'tomorrow': 171,
 'love': 170,
 'going': 169,
 'night': 155,
 'home': 148,
 '2': 147,
 'morning': 140,
 'school': 139,
 'got': 134,
 'joy': 128,
 'life': 122,
 'feel': 117,
 'hours': 114,
 'people': 114,
 'long': 112,
 'great': 109,
 'new': 106,
 'year': 102,
 's': 99,
 'week': 99,
 'sleep': 97,
 'days': 96,
 'hour': 89,
 'family': 88,
 'cant': 87,
 'God': 86,
 'tonight': 84,
 'know': 81,
 'RT': 80,
 'felt': 79,
 'excited': 79,
 'u': 76,
 ':)': 76,
 'friends': 76,
 'start': 74,
 'feeling': 73,
 '3': 73,
 'de': 73,
 'right': 72,
 'excitement': 70}

In [32]:
surprise_list=df[df['Emotion']=='surprise']['Clean_Text'].tolist()
surprise_docx=''.join(surprise_list)
keyword_surprise=extract_keywords(surprise_docx)

In [34]:
pip install -U scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.2.0-cp310-cp310-win_amd64.whl (8.2 MB)
     ---------------------------------------- 8.2/8.2 MB 4.1 MB/s eta 0:00:00
Collecting scipy>=1.3.2
  Downloading scipy-1.9.3-cp310-cp310-win_amd64.whl (40.1 MB)
     ---------------------------------------- 40.1/40.1 MB 8.8 MB/s eta 0:00:00
Requirement already satisfied: joblib>=1.1.1 in c:\users\saniya t sandeep\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\saniya t sandeep\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.23.5)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, scikit-learn
Successfully installed scikit-learn-1.2.0 scipy-1.9.3 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [37]:
#load ml packages
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
#build features from our text
Xfeatures=df['Clean_Text']
ylabes=df['Emotion']

In [40]:
cv=CountVectorizer()
cv.fit_transform(Xfeatures)

<20379x25886 sparse matrix of type '<class 'numpy.int64'>'
	with 151488 stored elements in Compressed Sparse Row format>

In [42]:
cv.get_feature_names_out()

array(['00', '000ème', '0021', ..., 'ღƪ', 'ℕoíʀ', 'ㄒʜℰℳℰ'], dtype=object)

In [47]:
X.toarray()

NameError: name 'X' is not defined

In [44]:
#split dataset
X_train,X_test,y_train,y_test=train_test_split(X,ylabels,test,size=0.3,random_state=42)

NameError: name 'X' is not defined

In [46]:
nv_model = MultinomialNB()
nv_model.fit(X_train,y_train)

NameError: name 'X_train' is not defined

In [45]:
nv_model.score(X_test,y_test)

NameError: name 'nv_model' is not defined